*{
    background-color: rgb(238, 233, 233);
}
.heading{
    display: flex;
    /* border: 5px solid black; */
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
.image_div{
    height: 70px;
    width: 100px;
}
.image{
    height: 100%;
    width: 100%;
}
.filter_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
}
.filter_div>div>select{
    height: 40px;
    width: 150px;
    border: 0px;
    background-color: rgb(240, 231, 231);
    font-size: 20px;
    border-radius: 5px;
}
.filter_div>div>input{
    height: 40px;
    width: 150px;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    background-color:rgb(240, 231, 231);
}
.search_button{
    height: 50px;
    width: 150px;
    /* margin-top: 20px; */
    border-radius: 5px;
    background-color: rgb(26, 120, 187);
    color: white;
    border: 0px;
    font-size: 20px;
}
.filter_name ,.filter_name>p{
    background-color: white;
    font-size: 20px;
    padding-bottom: 0px;
}
.property_div{
    margin: 40px;
    border: 1px solid black;
    background-color: white;
}

